* {
    margin: 0px;
    padding: 0px;
    font-family: Mircosoft JhengHei;
}
.block {
    position: absolute;
    background: #FFFFE8;
    width:350px;
    height:900px;
    box-sizing: border-box;
}
.text {
    margin:15px;
}
.textblock {
    width:120px;
}
span {
    display: block;
    line-height: 30px;
    margin-top: 5px;
}
input,textarea {
    padding:5px;
    border-radius: 5px;
    border : solid 1px #FFF0D4;
    background: #FFF0D4	;
}
#img {
    box-sizing: border-box;
    width:350px;
    height:300px;
    border:solid  #FFFFE8;
    background: #FFFFE8;
}
#resume {
    background-color: #FFFFE8;
    border: solid #FFFFE8;
    font-size: 12px;
    margin-left: -5px;
}
.btn {
    background-color: #f2e8df;
    border: none;
    font-size: 14px;
    padding: 5px 15px;
  }
#remarks {
    margin-top: 15px;
}